<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085372993463-j5a9g7sljsfag4cslgoapd0gl1tfh6th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085372993463-j5a9g7sljsfag4cslgoapd0gl1tfh6th</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1085372993463-0p28d70fajfhfm7gle8oupl0uo3d5q91.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEbfVYKLQ4saIW8OcyGUsLXt7M1zgN9jY</string>
	<key>GCM_SENDER_ID</key>
	<string>1085372993463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dropby.app</string>
	<key>PROJECT_ID</key>
	<string>dropby-c27ca</string>
	<key>STORAGE_BUCKET</key>
	<string>dropby-c27ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085372993463:ios:e0d9af8243f2c7d07de232</string>
</dict>
</plist>